@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  font-size: 16px;
  padding: 6px 24px;
  margin: 14px 2px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul {
  list-style: none;
  gap: 16px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

.content{
  display: flex;
  flex: 1;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header, .footer, ul {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.header, .footer {
  padding: 0px 22px;
  color: #555;
  font-weight: 600;
}

.footer {
  background-color: #eeeeee;
}
