/* Add CSS Styling */

/* shared attributes first */
.b1,
.b2 {
  font-size: 28px;
  font-family: "Helvetica", "Times New Roman", sans-serif;
}

/* and separate ones */
.b1 {
  background-color: black;
  color: white;
}

.b2 {
  background-color: yellow;
}
