body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

* {
  padding: 10px;
}

.card {
  width: 400px;
  background: #fff;
}

.title {
  background: #e3f4ff;
  margin: 8px auto;
}

.content {
  background: #e3f4ff;
  margin: 8px auto;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display:block;
  margin: 0 auto;
}
